.joinUs_banner{width: 100%;padding: 124px 0 144px 0;background: url(../images/about/about4.png) no-repeat center center;background-size: cover;}
.joinUs_banner_text{font-size: 36px;height: 50px;line-height: 50px;margin-top: 8px;}
.joinUs_banner_but{margin: 0px auto;margin-top: 32px;}
.joinUs_imglists{padding-top: 60px;}
.joinUs_imglist1{margin-bottom: 4px;}
.joinUs_title{font-size: 36px;height: 50px;line-height: 50px;margin-bottom: 60px;}
.joinUs_img1{width: 959px;height: 480px;margin-right: 3px;}
.joinUs_img2{width: 478px;height: 480px;}
.joinUs_img3{width: 478px;height: 240px;}
.joinUs_img_mag{margin: 0 3px;}
.joinUs_post{padding: 60px 120px 73px 120px;}
.joinUs_post_lists{}
.joinUs_post_list{padding: 30px 40px;background: #FFFFFF;border-radius: 4px;border: 1px solid #EBEBEB;width: 304px;margin: 12px 0;cursor: pointer;}
.joinUs_post_listTitle{height: 28xp;line-height: 28px;margin-bottom: 18px;}
.joinUs_post_address{color: #555555;height: 20px;line-height: 20px;border-bottom: 1px solid #EBEBEB;padding-bottom: 16px;}
.joinUs_post_icon{width: 14px;height: 14px;margin-right: 8px;}
.joinUs_post_department{color: #555555;height: 20px;line-height: 20px;margin-top: 16px;}
.joinUs_post_listlabel{height: 20px;line-height: 20px;padding: 3px 10px;background: #FF761A;border-radius: 2px;}
.joinUs_job{height: 40px;font-size: 28px;line-height: 40px;margin-bottom: 10px;}
.joinUs_website{height: 40px;font-size: 28px;line-height: 40px;border-bottom: 2px solid #FF761A;width: 237px;}
.joinUs_post_listblue{border: 1px solid #005CEF;position: relative;}
.joinUs_post_listblue::before{content: "";width: 0;height: 0;border-left: 14px solid transparent;border-right: 14px solid transparent;border-bottom: 14px solid #FFFFFF;position: absolute;bottom: -26px;z-index: 2;left: 28px;}
.joinUs_post_listblue::after{content: "";width: 0;height: 0;border-left: 16px solid transparent;border-right: 16px solid transparent;border-bottom: 16px solid #EBEBEB;position: absolute;bottom: -26px;z-index: 1;left: 26px;}
.joinUs_post_popUp{padding: 0 40px;background: #FFFFFF;border: 1px solid #EBEBEB;margin: 12px 0;}
.joinUs_post_popUpTitle{height: 25px;line-height:25px;padding: 32px 0 16px 0;}
.joinUs_post_popUpTitle span{width: 4px;height: 16px;background: #005CEF;margin-right: 10px;transform: translateY(2px);}
.joinUs_post_popUpText{color: #555555;line-height: 28px;}
.joinUs_post_popUpBut{padding: 13px 38px;margin: 40px 0;background: linear-gradient(270deg, #0087FF 0%, #005CEF 100%);width: 64px;border-radius: 4px;}