.paas_topBg{background: linear-gradient(180deg, #E6EBF5 0%, #FFFFFF 100%);}
.paas_adver{background: url(../images/paas/paas_bg.png) no-repeat center center;background-size: cover;padding: 60px 120px;}
.mkt_adver{background: url(../images/paas/mkt_bg.png) no-repeat center center;background-size: cover;padding: 60px 120px;}
.paas_topImg{width: 490px;height: 370px;padding: 10px;background: #FFFFFF;box-shadow: 0px 2px 20px 0px rgba(142,168,220,0.2);border-radius: 12px;margin-left: 70px;}
.paas_adver_left{width: calc(100% - 580px);}
.paas_adver_text{color: #555555;line-height: 28px;margin: 24px 0;}
.paas_adver_buts{margin-bottom: 48px;}
.paas_adver_buts>div{border-radius: 18px;border: 1px solid rgba(34,34,34,0.19);padding: 5px 19px;margin-right: 16px;}
.mkt_adver_buts{margin-bottom: 48px;}
.mkt_adver_buts>div{border-radius: 18px;border: 1px solid rgba(255,255,255,0.4);padding: 5px 19px;margin-right: 16px;}
.paas_paas_topImg{width: 26px;height: 26px;margin-right: 14px;vertical-align:top;}
.paas_navs{padding: 0 120px;}
.paas_navs>div{padding-bottom: 22px;height: 28px;line-height: 28px;border-bottom: 4px solid #fff;cursor: pointer;}
.paas_nav{border-bottom: 4px solid #005CEF!important;}
.aPaaS_head_bg{padding: 30px 120px 0 120px;background: linear-gradient(180deg, #F2F4F7 0%, #FFFFFF 100%);}
.aPaaS_head{background: linear-gradient(180deg, #F2F4F7 0%, #FFFFFF 100%);box-shadow: 0px 8px 20px 0px rgba(166,180,208,0.1);border-radius: 4px;border: 3px solid #FFFFFF;padding: 40px 60px;}
.aPaaS_head_img{width: 520px;height: 360px;}
.aPaaS_head_text{padding-left: 16px;width: calc(100% - 600px);}
.aPaaS_head_text1{font-size: 22px;height: 30px;line-height: 30px;margin-bottom: 6px;position: relative;}
.aPaaS_head_text1::before{content: "";width: 6px;height: 6px;background: #005CEF;border-radius: 50%;position: absolute;top: 13px;left: -13px;}
.aPaaS_head_text2{color: #555555;line-height: 24px;margin-bottom: 16px;}
.aPaaS_head_but{width: 64px;padding: 9px 28px;height: 22px;line-height: 22px;border-radius: 4px;background: linear-gradient(270deg, #0087FF 0%, #005CEF 100%);margin-top: 24px;cursor: pointer;}
.aPaaS_head_but:hover{opacity: 0.8;}
.PaaS_title{font-size: 36px;margin-bottom: 16px;}
.PaaS_text{color: #555555;height: 22px;line-height: 22px;margin-bottom: 40px;}
.PaaS_img{width: 100%;}
.hideModel>div{display: none;}
.showModel{display: block!important;}
.mkt_registertil{color: #005CEF;background: #FFFFFF;}