<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

		<title>企企通</title>
		<meta  name="Keywords" :content="">
		<meta  name="Description" :content="">
	<link rel="stylesheet" href="https://xgw.51qqt.com/qqt/css/flex-layout.css" />
	<link rel="stylesheet" href="https://xgw.51qqt.com/qqt/css/reset.css" />
	<!-- 头部底部样式 -->
	<link rel="stylesheet" href="https://xgw.51qqt.com/qqt/css/index.css" />
	<!-- 首页样式 -->
	<link rel="stylesheet" href="https://xgw.51qqt.com/qqt/css/homestyle.css" />
	<!-- 解决方案样式 -->
	<link rel="stylesheet" href="https://xgw.51qqt.com/qqt/css/solutions.css">
	<link rel="stylesheet" href="https://xgw.51qqt.com/qqt/css/animate.min.css" />
	<script src="https://xgw.51qqt.com/qqt/js/jquery.min.js"></script>
	<script src="https://xgw.51qqt.com/qqt/js/load.js"></script>
	<script type="text/javascript">
		load('axios')
	</script>
</head>
<body>
<div id="app">
	<div class="header">
		<div class="flex-column flex-center homeHead f16">
			<div class="flex-column flex-middle" style="width: 800px;">
				<a class="logosize" href="https://xgw.51qqt.com/qqt/index.html"><img src="https://xgw.51qqt.com/qqt/img/logo.png" class="imgsize" alt="企企通"></a>
				<div class="flex-column flex-middle homenavs">
					<ul class="flex-column flex-middle homeNav">
						<li class="hobverPopUp">
							<div class="hobverPopUp_text"><span>产品</span><span class="iconxia"></span></div>
							<div class="homeHead_popUpStyle bghead">
								<div class="maxwidth">
									<div class="flex-column xian_head">
										<div class="homeHead_productpopUp_saas">
											<div class="f18 homeHead_appleStytle homeHead_productpopUp_left">企业SasS云</div>
										</div>
										<div class="homeHead_productpopUp_right f14 flex-column flex-between">
											<div class="homeHead_productpopUp_rightText">
												<div class="homeHead_productpopUp_title homeHead_appleStytle homeHead_productpopUp_titleicon1 colorblue"><a href="https://srm.xgw.51qqt.com/qqt/index.html">采购云</a><span class="iconright"></span></div>
												<div class="f12 homeHead_productpopUp_subheading">一站式数字化采购平台</div>
												<a href="https://srm.xgw.51qqt.com/qqt/supplier.html">供应商管理</a>
												<a href="https://srm.xgw.51qqt.com/qqt/sourcing.html">战略寻源</a>
												<a href="https://srm.xgw.51qqt.com/qqt/bidding.html">电子招投标</a>
												<a href="https://srm.xgw.51qqt.com/qqt/procurement.html">采购协同</a>
												<a href="https://srm.xgw.51qqt.com/qqt/contract.html">合同管理</a>
												<a href="https://srm.xgw.51qqt.com/qqt/resource.html">采购资源</a>
												<a href="https://srm.xgw.51qqt.com/qqt/analysis.html">采购分析</a>
											</div>
											<div class="homeHead_productpopUp_rightText">
												<div class="homeHead_productpopUp_title homeHead_appleStytle homeHead_productpopUp_titleicon2 colorblue"><a href="https://mall.xgw.51qqt.com/qqt/mall.html">商城云</a><span class="iconright"></span></div>
												<div class="f12 homeHead_productpopUp_subheading">为企业打造一站式交易平台</div>
												<a href="https://mall.xgw.51qqt.com/qqt/qqgouQ3.html">企企通商城旗舰版</a>
												<a href="https://mall.xgw.51qqt.com/qqt/qqgouQ3K.html">企企通商城标准版</a>
												<a href="https://mall.xgw.51qqt.com/qqt/b2b.html">B2B商城</a>
												<a href="https://mall.xgw.51qqt.com/qqt/juyuanchi.html">聚源池</a>
											</div>
											<div>
												<a class="homeHead_productpopUp_rightText" href="https://xgw.51qqt.com/qqt/purchase/darenTong.html">
													<div class="homeHead_productpopUp_title homeHead_appleStytle homeHead_productpopUp_titleicon5">达人通<span class="iconright colorblue"></span></div>
													<div class="f12 homeHead_productpopUp_subheading">为直播电商量身打造</div>
												</a>
												<div class="homeHead_productpopUp_rightText">
													<div class="homeHead_productpopUp_title homeHead_appleStytle homeHead_productpopUp_titleicon4 colorblue"><a href="https://mkt.xgw.51qqt.com/qqt/mkt.html">营销云</a><span class="iconright"></span></div>
													<div class="f12 homeHead_productpopUp_subheading">提供一站式营销解决方案</div>
												</div>
												<div class="homeHead_productpopUp_rightText">
													<div class="homeHead_productpopUp_title homeHead_appleStytle homeHead_productpopUp_titleicon3 colorblue"><a href="https://scf.xgw.51qqt.com/qqt/scf.html">赋能云</a><span class="iconright"></span></div>
													<div class="f12 homeHead_productpopUp_subheading">中小微企快捷资产资金对接平台</div>
												</div>
											</div>

										</div>
									</div>
									<div class="flex-column">
										<div class="homeHead_productpopUp_saas">
											<div class="f18 homeHead_appleStytle homeHead_productpopUp_paas_left">PaaS平台</div>
										</div>
										<div class="flex-column flex-between homeHead_productpopUp_paas_right">
											<a href="https://xgw.51qqt.com/qqt/paas/apaas.html?navNum=0">
												<div class="f14 homeHead_appleStytle homeHead_productpopUp_paastitleicon1">APaaS应用开发平台</div>
												<div class="f12 homeHead_productpopUp_paas_right_subheading">沉淀应用场景，快速二次开发</div>
											</a>
											<a href="https://xgw.51qqt.com/qqt/paas/apaas.html?navNum=1">
												<div class="f14 homeHead_appleStytle homeHead_productpopUp_paastitleicon2">IPaaS集成开发平台</div>
												<div class="f12 homeHead_productpopUp_paas_right_subheading">集成第三方资源，无缝对接企业内外系统</div>
											</a>
											<a href="https://xgw.51qqt.com/qqt/paas/apaas.html?navNum=2">
												<div class="f14 homeHead_appleStytle homeHead_productpopUp_paastitleicon3">DPaaS数据中台</div>
												<div class="f12 homeHead_productpopUp_paas_right_subheading">数据沉淀、建模，挖掘与分析，可视化</div>
											</a>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class='hobverPopUp'>
							<span class="hobverPopUp_text">解决方案</span><span class="iconxia"></span>
							<div class="bghead homeHead_popUpStyle">
								<div class=" maxwidth">
									<div class="flex-column xian_head">
										<div class="homeHead_solutionPopUp_left">
											<div class="f18 homeHead_appleStytle homeHead_solutionPopUp_leftTitle">行业解决方案</div>
										</div>
										<div class="homeHead_productpopUp_right f14 flex-column">
											<a class="homeHead_solutionPopUp_rightText" href="https://xgw.51qqt.com/qqt/solutions/manufacturing.html">
												<div class="f14 homeHead_productpopUp_title homeHead_appleStytle homeHead_solutionPopUp_titleicon1">高端制造</div>
												<div class="f12 homeHead_solutionPopUp_subheading">电子/装备/整车汽配</div>
											</a>
											<a class="homeHead_solutionPopUp_rightText" href="https://xgw.51qqt.com/qqt/solutions/construction.html">
												<div class="f14 homeHead_productpopUp_title homeHead_appleStytle homeHead_solutionPopUp_titleicon2">地产建筑</div>
												<div class="f12 homeHead_productpopUp_subheading">房地产/建筑</div>
											</a>
											<a class="homeHead_solutionPopUp_rightText" href="https://xgw.51qqt.com/qqt/solutions/retail.html">
												<div class="f14 homeHead_productpopUp_title homeHead_appleStytle homeHead_solutionPopUp_titleicon3">零售消费</div>
												<div class="f12 homeHead_productpopUp_subheading">美妆/家电/茶酒/商超</div>
											</a>
											<a class="homeHead_solutionPopUp_rightText" href="https://xgw.51qqt.com/qqt/solutions/food.html">
												<div class="f14 homeHead_productpopUp_title homeHead_appleStytle homeHead_solutionPopUp_titleicon4">食品餐饮</div>
												<div class="f12 homeHead_productpopUp_subheading">食品/饮料/餐饮</div>
											</a>
											<a class="homeHead_solutionPopUp_rightText" href="https://xgw.51qqt.com/qqt/solutions/finance.html">
												<div class="f14 homeHead_productpopUp_title homeHead_appleStytle homeHead_solutionPopUp_titleicon5">金融保险</div>
												<div class="f12 homeHead_productpopUp_subheading">银行/保险</div>
											</a>
											<a class="homeHead_solutionPopUp_rightText" href="https://xgw.51qqt.com/qqt/solutions/pharmacy.html">
												<div class="f14 homeHead_productpopUp_title homeHead_appleStytle homeHead_solutionPopUp_titleicon6">生物制药</div>
												<div class="f12 homeHead_productpopUp_subheading">医药/医疗</div>
											</a>
											<a class="homeHead_solutionPopUp_rightText" href="https://xgw.51qqt.com/qqt/solutions/energy.html">
												<div class="f14 homeHead_productpopUp_title homeHead_appleStytle homeHead_solutionPopUp_titleicon7">能源化工</div>
												<div class="f12 homeHead_productpopUp_subheading">石油/天然气/化工</div>
											</a>
											<a class="homeHead_solutionPopUp_rightText" href="https://xgw.51qqt.com/qqt/solutions/service.html">
												<div class="f14 homeHead_productpopUp_title homeHead_appleStytle homeHead_solutionPopUp_titleicon8">现代服务</div>
												<div class="f12 homeHead_productpopUp_subheading">物业/教育/旅游/电商/公共服务</div>
											</a>
										</div>
									</div>
									<div class="flex-column xian_head">
										<div class="homeHead_solutionPopUp_left">
											<div class="f18 homeHead_appleStytle homeHead_solutionPopUp_leftTitle">领域解决方案</div>
										</div>
										<div class="homeHead_productpopUp_right f14 flex-column">
<!--                                                    <a class="homeHead_solutionPopUp_rightText " href="https://xgw.51qqt.com/qqt/solutions/manufacturing.html?name=39">-->
											<a class="homeHead_solutionPopUp_rightText cursorDefault">
												<div class="f14 homeHead_productpopUp_title homeHead_appleStytle homeHead_solutionPopUp_titleicon9">生产</div>
												<div class="f12 homeHead_solutionPopUp_subheading">直接采购/间接采购</div>
											</a>
<!--                                                    <a class="homeHead_solutionPopUp_rightText" href="https://xgw.51qqt.com/qqt/solutions/manufacturing.html?name=40">-->
											<a class="homeHead_solutionPopUp_rightText cursorDefault">
												<div class="f14 homeHead_productpopUp_title homeHead_appleStytle homeHead_solutionPopUp_titleicon10">商贸</div>
												<div class="f12 homeHead_productpopUp_subheading">标准商品/定制商品/相关服务</div>
											</a>
<!--                                                    <a class="homeHead_solutionPopUp_rightText" href="https://xgw.51qqt.com/qqt/solutions/manufacturing.html?name=41">-->
											<a class="homeHead_solutionPopUp_rightText cursorDefault">
												<div class="f14 homeHead_productpopUp_title homeHead_appleStytle homeHead_solutionPopUp_titleicon11">项目</div>
												<div class="f12 homeHead_productpopUp_subheading">工程/研发/设备项目/营销项目</div>
											</a>
<!--                                                    <a class="homeHead_solutionPopUp_rightText" href="https://xgw.51qqt.com/qqt/solutions/manufacturing.html?name=42">-->
											<a class="homeHead_solutionPopUp_rightText  cursorDefault">
												<div class="f14 homeHead_productpopUp_title homeHead_appleStytle homeHead_solutionPopUp_titleicon12">服务</div>
												<div class="f12 homeHead_productpopUp_subheading">教培/福利/物流/营销/费用类</div>
											</a>
<!--                                                    <a class="homeHead_solutionPopUp_rightText" href="https://xgw.51qqt.com/qqt/solutions/manufacturing.html?name=43">-->
											<a class="homeHead_solutionPopUp_rightText cursorDefault">
												<div class="f14 homeHead_productpopUp_title homeHead_appleStytle homeHead_solutionPopUp_titleicon13">大宗</div>
												<div class="f12 homeHead_productpopUp_subheading">农副/金属/化工/能源产品</div>
											</a>
<!--                                                    <a class="homeHead_solutionPopUp_rightText" href="https://xgw.51qqt.com/qqt/solutions/manufacturing.html?name=44">-->
											<a class="homeHead_solutionPopUp_rightText cursorDefault">
												<div class="f14 homeHead_productpopUp_title homeHead_appleStytle homeHead_solutionPopUp_titleicon14">办公</div>
												<div class="f12 homeHead_productpopUp_subheading">行政物资/办公/IT类/劳保用品</div>
											</a>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class='aHover'><a href="https://xgw.51qqt.com/qqt/case-study.html">客户案例</a></li>
						<li class="hobverPopUp">
							<span class="hobverPopUp_text"><a href="https://xgw.51qqt.com/qqt/news.html">资讯中心</a></span><span class="iconxia"></span>
							<div class="bghead  homeHead_popUpStyle">
								<div class="maxwidth">
									<div class="flex-column">
										<div class="homeHead_informationPopUp_left">
											<div class="f18 homeHead_informationPopUp_Title">
												<div class="homeHead_appleStytle homeHead_informationPopUp_leftTitle">企企通视频上新啦</div>
												<div class="f12 homeHead_solutionPopUp_subheading">分享企业数字化转型经验、采购供应链知识</div>
												<div class="f12 homeHead_solutionPopUp_subheading">相互学习、相互交流、相互促进</div>
												<a class="f14 homeHead_playvidio colorbai" href="https://xgw.51qqt.com/qqt/news/videos.html">立即观看</a>
											</div>
										</div>
										<div class="homeHead_informationPopUp_right f14 flex-column">
											<a class="homeHead_informationPopUp_rightText" href="https://xgw.51qqt.com/qqt/news/1.html">
												<div class="f14 homeHead_productpopUp_title homeHead_appleStytle homeHead_solutionPopUp_titleicon15">企业资讯<span class="iconrightgary"></span></div>
												<div class="f12 homeHead_solutionPopUp_subheading">了解更多关于企企通</div>
											</a>
											<a class="homeHead_informationPopUp_rightText" href="https://xgw.51qqt.com/qqt/news/events.html">
												<div class="f14 homeHead_productpopUp_title homeHead_appleStytle homeHead_solutionPopUp_titleicon16">市场活动<span class="iconrightgary"></span></div>
												<div class="f12 homeHead_productpopUp_subheading">市场动态观察</div>
											</a>
											<a class="homeHead_informationPopUp_rightText" href="https://xgw.51qqt.com/qqt/news/4.html">
												<div class="f14 homeHead_productpopUp_title homeHead_appleStytle homeHead_solutionPopUp_titleicon17">干货分享<span class="iconrightgary"></span></div>
												<div class="f12 homeHead_productpopUp_subheading">采购与供应链行业知识共享</div>
											</a>
											<a class="homeHead_informationPopUp_rightText" href="https://xgw.51qqt.com/qqt/news/reports.html">
												<div class="f14 homeHead_productpopUp_title homeHead_appleStytle homeHead_solutionPopUp_titleicon18">分析报告<span class="iconrightgary"></span></div>
												<div class="f12 homeHead_productpopUp_subheading">行业权威机构数字化采购报告分享</div>
											</a>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class="aHover"><a href="https://xgw.51qqt.com/qqt/cooperation.html">合作伙伴</a></li>
						<li class="hobverPopUp">
							<span class="hobverPopUp_text">关于我们</span><span class="iconxia"></span>
							<div class="bghead homeHead_popUpStyle">
								<div class="maxwidth">
									<div class="flex-column flex-between flex-middle homeHead_aboutUsPopUp_padd">
										<a class="homeHead_aboutUsPopUp_Text" href="https://xgw.51qqt.com/qqt/about.html">
											<div class="f14 homeHead_aboutUsPopUp_title homeHead_appleStytle homeHead_aboutUsPopUp_titleicon1">公司介绍<span class="iconrightgary"></span></div>
											<div class="f12 homeHead_solutionPopUp_subheading">为企业打造一站式数字化采购平台</div>
										</a>
										<a class="homeHead_aboutUsPopUp_Text" href="https://xgw.51qqt.com/qqt/honor.html">
											<div class="f14 homeHead_aboutUsPopUp_title homeHead_appleStytle homeHead_aboutUsPopUp_titleicon2">荣誉资质<span class="iconrightgary"></span></div>
											<div class="f12 homeHead_productpopUp_subheading">历年履获行业权威机构荣誉奖项及专业资质</div>
										</a>
										<a class="homeHead_aboutUsPopUp_Text" href="https://xgw.51qqt.com/qqt/join-us.html">
											<div class="f14 homeHead_aboutUsPopUp_title homeHead_appleStytle homeHead_aboutUsPopUp_titleicon3">加入我们<span class="iconrightgary"></span></div>
											<div class="f12 homeHead_productpopUp_subheading">期待专业的你来加入</div>
										</a>
										<a class="homeHead_aboutUsPopUp_Text" href="https://xgw.51qqt.com/qqt/contact-us.html">
											<div class="f14 homeHead_aboutUsPopUp_title homeHead_appleStytle homeHead_aboutUsPopUp_titleicon4">联系我们<span class="iconrightgary"></span></div>
											<div class="f12 homeHead_productpopUp_subheading">全心全意为客户提供全方位专业服务</div>
										</a>
									</div>
								</div>
							</div>

						</li>
					</ul>
				</div>
			</div>
			<div class="flex-column flex-middle flex-right" style="width: 400px;">
				<div class="flex-column flex-middle">
					<div class="iconsize"><img src="https://xgw.51qqt.com/qqt/img/home18.png" class="imgsize" alt="电话拨号"></div>
					<div class="homeHead_phone homeHead_appleStytle f18">400-835-1881</div>
				</div>
				<a class="f16 homeHead_logintil" href="https://q3srm.51qqt.com/">登录</a>
				<div class="f14 homeHead_registertil" @click="showregistermodal(2)">注册体验</div>
			</div>
		</div>
		<div class="bgbai homephoneHead_height">
			<div class="flex-column flex-between homephoneHead xian_head">
				<a class="logosize" href="https://xgw.51qqt.com/qqt/index.html"><img src="https://xgw.51qqt.com/qqt/img/logo.png" class="imgsize" alt="企企通"></a>
				<div class="flex-column flex-middle">
					<a href="tel:400-835-1881" class="flex-column flex-middle">
						<div class="iconsize"><img src="https://xgw.51qqt.com/qqt/img/home18.png" class="imgsize" alt="电话拨号"></div>
						<div class="homeHead_phone homeHead_appleStytle f18">400-835-1881</div>
					</a>
					<div class="menu_buttonstyle">
						<div class="menu_button">
							<div class="bar"></div>
							<div class="bar"></div>
							<div class="bar"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="shownavs">
				<div class="flex-column" style="height: 100%;">
					<div class="f14 PingFangSCMediumBanner homephoneHead_left">
						<a class="homephoneHead_leftList">产品</a>
						<a>解决方案</a>
						<a class="homephoneHead_left_link" href="https://xgw.51qqt.com/qqt/case-study.html">客户案例</a>
						<a>资讯中心</a>
						<a class="homephoneHead_left_link" href="https://xgw.51qqt.com/qqt/cooperation.html">合作伙伴</a>
						<a>关于我们</a>
					</div>
					<div class="homephoneHead_right f14">
						<div class="f14 PingFangSCMediumBanner homephoneHead_right_title">企业SaaS云</div>
						<div>
							<div class="flex-column flex-between homephoneHead_navchild_Subhead">
								<div class="homeHead_productpopUp_titleicon1"><a href="https://srm.xgw.51qqt.com/qqt/index.html">采购云</a></div>
								<div class="homephoneHead_navicon" @click="changenavicon"><img src="https://xgw.51qqt.com/qqt/img/homephone_xia.png" class="imgsize" alt="企企通图标"></div>
							</div>
							<div class="shownavchild_text">
								<a class="homephoneHead_navchild_text" href="https://xgw.51qqt.com/qqt/purchase/supplier.html">供应商管理</a>
								<a class="homephoneHead_navchild_text" href="https://xgw.51qqt.com/qqt/purchase/sourcing.html">战略寻源</a>
								<a class="homephoneHead_navchild_text" href="https://xgw.51qqt.com/qqt/purchase/bidding.html">电子招投标</a>
								<a class="homephoneHead_navchild_text" href="https://xgw.51qqt.com/qqt/purchase/procurement.html">采购协同</a>
								<a class="homephoneHead_navchild_text" href="https://xgw.51qqt.com/qqt/purchase/contract.html">合同管理</a>
								<a class="homephoneHead_navchild_text" href="https://xgw.51qqt.com/qqt/purchase/resource.html">采购资源</a>
								<a class="homephoneHead_navchild_text" href="https://xgw.51qqt.com/qqt/purchase/analysis.html">采购分析</a>
							</div>
						</div>
						<div>
							<div class="flex-column flex-between homephoneHead_navchild_Subhead">
								<div class="homeHead_productpopUp_titleicon2"><a href="https://mall.xgw.51qqt.com/qqt/mall.html">商城云</a></div>
								<div class="homephoneHead_navicon" @click="changenavicon"><img src="https://xgw.51qqt.com/qqt/img/homephone_xia.png" class="imgsize" alt="企企通图标"></div>
							</div>
							<div class="shownavchild_text">
								<a class="homephoneHead_navchild_text" href="https://xgw.51qqt.com/qqt/mall/qqgouQ3.html">企企通商城旗舰版</a>
								<a class="homephoneHead_navchild_text" href="https://xgw.51qqt.com/qqt/mall/qqgouQ3K.html">企企通商城标准版</a>
								<a class="homephoneHead_navchild_text" href="https://xgw.51qqt.com/qqt/mall/b2b.html">B2B商城</a>
								<a class="homephoneHead_navchild_text" href="https://xgw.51qqt.com/qqt/mall/juyuanchi.html">聚源池</a>
							</div>
						</div>
						<div>
							<div class="flex-column flex-between homephoneHead_navchild_Subhead">
								<div class="homeHead_productpopUp_titleicon3"><a href="https://scf.xgw.51qqt.com/qqt/scf.html">赋能云</a></div>
							</div>
						</div>
						<div>
							<div class="flex-column flex-between homephoneHead_navchild_Subhead">
								<div class="homeHead_productpopUp_titleicon4"><a href="https://mkt.xgw.51qqt.com/qqt/mkt.html">营销云</a></div>
							</div>
						</div>
						<div class="flex-column flex-between homephoneHead_navchild_Subhead">
							<div class="homeHead_productpopUp_titleicon5"><a href="https://xgw.51qqt.com/qqt/purchase/darenTong.html">达人通</a></div>
						</div>
						<div class="f14 PingFangSCMediumBanner homephoneHead_right_title">PaaS平台</div>
						<a class="homephoneHead_navchild_text homeHead_productpopUp_paastitleicon1" href="https://xgw.51qqt.com/qqt/paas/apaas.html?navNum=0">APaaS应用开发平台</a>
						<a class="homephoneHead_navchild_text homeHead_productpopUp_paastitleicon2" href="https://xgw.51qqt.com/qqt/paas/apaas.html?navNum=1">IPaaS集成开发平台</a>
						<a class="homephoneHead_navchild_text homeHead_productpopUp_paastitleicon3" href="https://xgw.51qqt.com/qqt/paas/apaas.html?navNum=2">DPaaS数据中台</a>
					</div>
					<div class="homephoneHead_right f14">
						<div class="f14 PingFangSCMediumBanner homephoneHead_right_title">行业解决方案</div>
						<div>
							<a class="homephoneHead_right_text" href="https://xgw.51qqt.com/qqt/solutions/manufacturing.html">高端制造</a>
							<a class="homephoneHead_right_text" href="https://xgw.51qqt.com/qqt/solutions/construction.html">地产建筑</a>
							<a class="homephoneHead_right_text" href="https://xgw.51qqt.com/qqt/solutions/retail.html">零售消费</a>
							<a class="homephoneHead_right_text" href="https://xgw.51qqt.com/qqt/solutions/food.html">食品餐饮</a>
							<a class="homephoneHead_right_text" href="https://xgw.51qqt.com/qqt/solutions/finance.html">金融保险</a>
							<a class="homephoneHead_right_text" href="https://xgw.51qqt.com/qqt/solutions/pharmacy.html">生物制药</a>
							<a class="homephoneHead_right_text" href="https://xgw.51qqt.com/qqt/solutions/energy.html">能源化工</a>
							<a class="homephoneHead_right_text" href="https://xgw.51qqt.com/qqt/solutions/service.html">现代服务</a>
						</div>
						<div class="f14 PingFangSCMediumBanner homephoneHead_right_title">领域解决方案</div>
							<a class="homephoneHead_right_text cursorDefault">生产</a>
							<a class="homephoneHead_right_text cursorDefault">商贸</a>
							<a class="homephoneHead_right_text cursorDefault">项目</a>
							<a class="homephoneHead_right_text cursorDefault">服务</a>
							<a class="homephoneHead_right_text cursorDefault">大宗</a>
							<a class="homephoneHead_right_text cursorDefault">办公</a>
					</div>
					<div class="homephoneHead_right f14">
						<div class="f14 PingFangSCMediumBanner homephoneHead_right_title">资讯中心</div>
						<div>
							<a class="homephoneHead_right_text" href="https://xgw.51qqt.com/qqt/news/1.html">企业资讯</a>
							<a class="homephoneHead_right_text" href="https://xgw.51qqt.com/qqt/news/events.html">市场活动</a>
							<a class="homephoneHead_right_text" href="https://xgw.51qqt.com/qqt/news/4.html">干货分享</a>
							<a class="homephoneHead_right_text" href="https://xgw.51qqt.com/qqt/news/reports.html">分析报告</a>
							<a class="homephoneHead_right_text" href="https://xgw.51qqt.com/qqt/news/videos.html">微视频</a>
						</div>
					</div>
					<div class="homephoneHead_right f14">
						<div class="f14 PingFangSCMediumBanner homephoneHead_right_title">关于我们</div>
						<div>
							<a class="homephoneHead_right_text" href="https://xgw.51qqt.com/qqt/about.html">公司介绍</a>
							<a class="homephoneHead_right_text" href="https://xgw.51qqt.com/qqt/honor.html">荣誉资质</a>
							<a class="homephoneHead_right_text" href="https://xgw.51qqt.com/qqt/join-us.html">加入我们</a>
							<a class="homephoneHead_right_text" href="https://xgw.51qqt.com/qqt/contact-us.html">联系我们</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="colorbai wow animate__fadeInUp" data-wow-duration="2s" :style="banner.backgroundImage" style="height: 500px;overflow: hidden;">
		<div class="maxwidth" style="margin-top: 134px;">
			<div class="manufacturing_adver_title homeHead_appleStytle" v-html="banner.title"></div>
			<div class="manufacturing_adver_title">解决方案</div>
			<div class="f18 PingFangSCMediumBanner manufacturing_adver_text" v-html="banner.intro"></div>
			<div class="f14 homeHead_registertil tac homeHead_appleStytle registertil_banner" @click="showregistermodal(1)">注册体验</div>
		</div>
	</div>
	<div class="manufacturing_bg bggray" style="padding-bottom: 60px;">
		<div class="maxwidth">
			<div class="PingFangSCMedium tac home_title">{{supplierData[0]?supplierData[0].bigTitle:''}}</div>
			<div class="flex-column flex-between">
				<div class="flex-column manufacturing_observation_list" v-for="item in supplierData">
					<div class="manufacturing_observation_img"><img v-if="item.icon" :src="item.icon" class="imgsize" :alt="item.title"></div>
					<div>
						<div class="PingFangSCMedium manufacturing_observation_title" v-html="item.title"></div>
						<div class="f16 manufacturing_observation_text" v-html="item.intro"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="padBg ">
		<div class="maxwidth">
			<div class="PingFangSCMedium tac home_title">{{supplierImgData[0]?supplierImgData[0].bigTitle:''}}</div>
			<div class=""><img v-if="supplierImgData[0]" :src="supplierImgData[0]?supplierImgData[0].image:''" class="imgsize" :alt="supplierImgData[0]?supplierImgData[0].bigTitle:''"></div>
		</div>
	</div>
	<div class="manufacturing_bg">
		<div v-for="(item,index) in supplierListData" class="maxwidth">
			<div class="flex-column flex-middle" v-if="index%2==0">
				<div class="manufacturing_programmeList_img"><img v-if="item.image" :src="item.image" class="imgsize" :alt="item.title"></div>
				<div class="manufacturing_programmeList_right">
					<div class="PingFangSCMedium manufacturing_programmeList_rightTitle color222" v-html="item.title"></div>
					<div class="f16 manufacturing_programmeList_rightText" v-html="item.intro"></div>
					<div class="f14 homeHead_registertil tac homeHead_appleStytle fontWeightNormal" @click="showregistermodal(4)">立即咨询</div>
				</div>
			</div>
			<div class="manufacturing_programmeList flex-column flex-middle" v-else>
				<div class="manufacturing_programmeList_left bggray">
					<div class="PingFangSCMedium manufacturing_programmeList_rightTitle color222" v-html="item.title"></div>
					<div class="f16 manufacturing_programmeList_leftText" v-html="item.intro"></div>
					<div class="f14 homeHead_registertil tac homeHead_appleStytle fontWeightNormal" @click="showregistermodal(4)">立即咨询</div>
				</div>
				<div class="manufacturing_programmeList_rightimg"><img v-if="item.image" :src="item.image" class="imgsize" :alt="item.title"></div>
			</div>
		</div>
	</div>
	<iframe src="https://xgw.51qqt.com/qqt/iframe/achieveCust.html?name=14" class="achieveCuststy wow animate__fadeInUp" frameborder="0" scrolling="no"></iframe>
	<iframe src="https://xgw.51qqt.com/qqt/iframe/companys.html" class="companyStyle wow animate__fadeInUp" data-wow-duration="2s" frameborder="0" scrolling="no"></iframe>
	<div class="home_register colorbai">
		<div class="maxwidth flex-column flex-between flex-middle">
			<div class="PingFangSCMedium">
				<div class="home_register_text">开启数字化供应链与采购新体验</div>
				<div class="tar">赋能企业数字化转型与变革</div>
			</div>
			<div class="f18 register_bottom home_register_but  homeHead_appleStytle  colorbai" @click="showregistermodal(5)">注册体验</div>
		</div>
	</div>
	<div class="bgfooter">
		<div class="footer maxwidth">
			<div class="footer_topstyle xian_footer flex-column">
				<div class="colorbai footer_leftstyle">
					<div class="footer_logosize"><img src="https://xgw.51qqt.com/qqt/img/qqtbot.png" class="imgsize" alt="企企通"></div>
					<div class="flex-column flex-middle"><span class="f14">服务热线：</span><span class="f18 PingFangSCMedium">400-835-1881</span></div>
					<div class="footer_textpadd"><span class="f14">市场合作：</span><span class="f18 PingFangSCMedium">marketing@51qqt.com</span></div>
					<div class="flex-column tac f14">
						<div class="footer_contactimgpadd">
							<div class="footer_contactimg"><img src="https://xgw.51qqt.com/qqt/img/home15.png" class="imgsize" alt="企企通"></div>
							<div class="tuomaogz">企企通官方公众号</div>
						</div>
						<div>
							<div class="footer_contactimg"><img src="https://xgw.51qqt.com/qqt/img/home62.png" class="imgsize" alt="企企通"></div>
							<div class="tuomaogz">售前咨询</div>
						</div>
					</div>
				</div>
				<div class="f14 flex-column flex-between footer_rightstyle">
					<div>
						<div class="homeHead_appleStytle colorbai">产品</div>
						<div class="flex-column footer_linkstyle">
							<div class="footer_linkmag">
								<div class="colorbai">SaaS云</div>
								<a href="https://srm.xgw.51qqt.com/qqt/index.html">采购云</a>
								<a href="https://mall.xgw.51qqt.com/qqt/mall.html">商城云</a>
								<a href="https://scf.xgw.51qqt.com/qqt/scf.html">赋能云</a>
								<a href="https://mkt.xgw.51qqt.com/qqt/mkt.html?navNum=0">营销云</a>
								<a href="https://xgw.51qqt.com/qqt/purchase/darenTong.html">达人通</a>
							</div>
							<div class="">
								<div class="colorbai">PaaS平台</div>
								<a href="https://xgw.51qqt.com/qqt/paas/apaas.html?navNum=0">APaaS应用开发平台</a>
								<a href="https://xgw.51qqt.com/qqt/paas/apaas.html?navNum=1">IPaaS集成开发平台</a>
								<a href="https://xgw.51qqt.com/qqt/paas/apaas.html?navNum=2">DPaaS数据中台</a>
							</div>
						</div>
					</div>
					<div>
						<div class="homeHead_appleStytle colorbai">解决方案</div>
						<div class="flex-column footer_linkstyle">
							<div class="footer_linkmag">
								<div class="colorbai">行业解决方案</div>
								<a href="https://xgw.51qqt.com/qqt/solutions/manufacturing.html">高端制造</a>
								<a href="https://xgw.51qqt.com/qqt/solutions/construction.html">地产建筑</a>
								<a href="https://xgw.51qqt.com/qqt/solutions/retail.html">零售消费</a>
								<a href="https://xgw.51qqt.com/qqt/solutions/food.html">食品餐饮</a>
								<a href="https://xgw.51qqt.com/qqt/solutions/finance.html">金融保险</a>
								<a href="https://xgw.51qqt.com/qqt/solutions/pharmacy.html">生物制药</a>
								<a href="https://xgw.51qqt.com/qqt/solutions/energy.html">能源化工</a>
								<a href="https://xgw.51qqt.com/qqt/solutions/service.html">现代服务</a>
							</div>
							<div class="">
								<div class="colorbai">领域解决方案</div>
								<!--										<a href="https://xgw.51qqt.com/qqt/solutions/manufacturing.html?name=39">生产</a>-->
								<!--										<a href="https://xgw.51qqt.com/qqt/solutions/manufacturing.html?name=43">大宗物资</a>-->
								<!--										<a href="https://xgw.51qqt.com/qqt/solutions/manufacturing.html?name=40">商贸</a>-->
								<!--										<a href="https://xgw.51qqt.com/qqt/solutions/manufacturing.html?name=41">项目</a>-->
								<!--										<a href="https://xgw.51qqt.com/qqt/solutions/manufacturing.html?name=42">服务</a>-->
								<!--										<a href="https://xgw.51qqt.com/qqt/solutions/manufacturing.html?name=44">行政办公</a>-->
								<a class="cursorDefault">生产</a>
								<a class="cursorDefault">大宗物资</a>
								<a class="cursorDefault">商贸</a>
								<a class="cursorDefault">项目</a>
								<a class="cursorDefault">服务</a>
								<a class="cursorDefault">行政办公</a>
							</div>
						</div>
					</div>
					<div>
						<div class="homeHead_appleStytle colorbai">客户案例</div>
						<a href="https://xgw.51qqt.com/qqt/case-study.html" class="footer_linkstyle">客户案例</a>
					</div>
					<div>
						<div class="homeHead_appleStytle colorbai">资讯中心</div>
						<div class="flex-column footer_linkstyle">
							<div class="footer_linkmag">
								<a href="https://xgw.51qqt.com/qqt/news/1.html" class="footer_firstlinkmag">企业资讯</a>
								<a href="https://xgw.51qqt.com/qqt/news/events.html">市场活动</a>
								<a href="https://xgw.51qqt.com/qqt/news/4.html">干货分享</a>
								<a href="https://xgw.51qqt.com/qqt/news/reports.html">分析报告</a>
								<a href="https://xgw.51qqt.com/qqt/news/videos.html">微视频</a>
							</div>
						</div>
					</div>
					<div>
						<div class="homeHead_appleStytle colorbai">关于企企通</div>
						<div class="flex-column footer_linkstyle">
							<div class="footer_linkmag">
								<a href="https://xgw.51qqt.com/qqt/about.html" class="footer_firstlinkmag">公司介绍</a>
								<a href="https://xgw.51qqt.com/qqt/honor.html">荣誉资质</a>
								<a href="https://xgw.51qqt.com/qqt/join-us.html">加入我们</a>
								<a href="https://xgw.51qqt.com/qqt/contact-us.html">联系我们</a>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="f14 flex-column footer_topstyle footer_aboutstyle">
				<div class="blogroll">友情链接</div>
				<a v-for="item in blogrollList" :href="item.link">{{item.title}}</a>
			</div>
			<div></div>
		</div>
		<div class="f14 footer_bottom flex-column flex-center">
			<div>版权所有 © 2021 深圳市企企通科技-<a href="https://beian.miit.gov.cn/#/Integrated/index" target="_blank">粤ICP备15109055号</a></div>
			<a href="#" class="footer_bottomtext">隐私政策</a>
			<a href="#">网站声明</a>
		</div>
	</div>
	<div class="register_modal flex-column flex-middle" v-if="showmodel">
		<div class="registe_form">
			<div class="registe_form_cancel" @click="hederegistermodal"><img src="https://xgw.51qqt.com/qqt/img/home114.png" class="imgsize" alt=""></div>
			<div class="registe_form_bg"><img src="https://xgw.51qqt.com/qqt/img/home47.png" class="imgsize" alt=""></div>
			<div class="registe_form_title homeHead_appleStytle"><span class="colorblue">立即构建</span>企业数字化采购协同平台</div>
			<div class="f16 flex-column flex-middle registe_form_magbot">
				<div class="registe_form_text PingFangSCMedium">联系人：</div>
				<div class="registe_form_input"><input v-model="name" type="text" class="imgsize" placeholder="请输入您的姓名"></div>
			</div>
			<div class="f16 flex-column flex-middle registe_form_magbot">
				<div class="registe_form_text PingFangSCMedium">公司名称：</div>
				<div class="registe_form_input"><input type="text" v-model="companyName" class="imgsize" placeholder="请输入您的公司名全称"></div>
			</div>
			<div class="f16 flex-column flex-middle registe_form_magbot">
				<div class="registe_form_text PingFangSCMedium">手机号码：</div>
				<div class="registe_form_input"><input type="number" v-model="telephone" class="imgsize" placeholder="请输入您的手机号码"></div>
			</div>
			<div class="f16 flex-column flex-middle registe_form_Vercodemagbot">
				<div class="registe_form_text PingFangSCMedium">验证码：</div>
				<div class="registe_form_Vercode"><input type="number" v-model="smsCode" class="imgsize" placeholder="请输入您的手机号码"></div>
				<div class="registe_form_codebut colorbai" @click="getcode">获取验证码</div>
			</div>
			<div class="f16 registe_form_submit PingFangSCMedium colorbai" @click="submitfrom()">立即提交</div>
		</div>
	</div>
	<div class="rightView">
		<div class="rightView_kf_none">

				</div>
		<div class="rightView_trial" @click="showregistermodal(3)">
			<div class="rightView_trialImg"><img src="https://xgw.51qqt.com/qqt/img/right_shiyong.png" class="imgsize"></div>
			<div class="f14 rightView_trialText">免费试用</div>
		</div>
		<div class="rightView_trial">
			<div class="rightView_trialImg"><img src="https://xgw.51qqt.com/qqt/img/right_chatUs.png" class="imgsize"></div>
			<div class="f14 rightView_trialText">联系我们</div>
			<div class="rightView_chatUs">
				<div class="rightView_chatUsImg"><img src="https://xgw.51qqt.com/qqt/img/chatUs_erwei.png" class="imgsize"></div>
				<div class="f14 tac rightView_chatUsText">采购数字化管理专家</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
<script>
	var vm = new Vue({
		el:'#app',
		data(){
			return {
				leaveWordType:'',
				supplierData:[],
				supplierImgData:[],
				supplierListData:[],
				banner:{},
				blogrollList:[],
				showmodel:false,
				name:'',
				companyName:'',
				telephone:'',
				smsCode:'',
			}
		},
		watch: {
		},
		created(){
			getHost('els')
			this.getdata()
		},
		mounted(){

			getSeo(14)
		},
		methods: {
			changenavicon(e){
					if(e.currentTarget.style.transform=='translateY(4px) rotate(180deg)'){
						e.currentTarget.parentElement.nextElementSibling.style.display = 'none'
						e.currentTarget.parentElement.style.color = '#222222'
						e.currentTarget.style.transform = "none"
					}else{
						e.currentTarget.parentElement.nextElementSibling.style.display = 'block'
						e.currentTarget.parentElement.style.color = '#005CEF'
						e.currentTarget.style.transform = "translateY(4px) rotate(180deg)"
					}
				},
			showAiFanFan(){
				setTimeout(()=>{
					$("#newBridge").attr("style","display: block !important;z-index: 2 !important")
					$("#nb_icon_wrap").attr("style","margin-top:-32px !important;margin-right:22px !important;")
				},1000)
			},
			getdata(){
				that = this
				var _getData = p => get('/websiteSolution/noToken/queryByPageName', p);
				_getData({pageName: 14}).then(res => {
					that.supplierData = res.result['1']
					that.supplierImgData = res.result['2']
					that.supplierListData = res.result['3']
				}).catch(err => {
					console.log(err,'_getData获取数据异常');
				})
				var _getBannerData = p => get('/banner/noToken/queryByModule', p);
				_getBannerData({module: 14}).then(res => {
					that.banner=res.result[0];
					that.banner.backgroundImage="background: url("+that.banner.image+") no-repeat center center;background-size: cover;padding: 0 60px 0 60px;"
					console.log(res.result[0])
					console.log("==========")
				}).catch(err => {
					console.log(err,'_getBannerData获取数据异常');
				})

			},
			showregistermodal(leaveWordType){
				this.showmodel = true;
				this.leaveWordType='14-'+leaveWordType;
			},
			hederegistermodal(){
				this.showmodel = false
			},
			getcode(){
				const reg = /^((0\d{2,3}-\d{7,8})|(1[3456789]\d{9}))$/
				if(!reg.test(this.telephone)){
					window.alert("请输入正确的电话号码！");
					return false
				}
				var _getcode = p => post('/account/sms', p,'json');
				_getcode({
					mobile:this.telephone,
					smsmode:"1"
				})
						.then(res => {
							window.alert(res.message);
						})
						.catch(err => {
							console.log(err,'_getcode获取数据异常');
						})
			},
			submitfrom(){
				if(this.name==''){
					window.alert("联系人不能为空！");
					return false
				}
				if(this.companyName==''){
					window.alert("公司名称不能为空！");
					return false
				}
				const reg = /^((0\d{2,3}-\d{7,8})|(1[3456789]\d{9}))$/
				if(!reg.test(this.telephone)){
					window.alert("请输入正确的电话号码！");
					return false
				}
				if(this.smsCode==''){
					window.alert("验证码不能为空！");
					return false
				}
				var _getcode = p => post('/website/websiteUserInfo/noToken/add', p,'json');
				_getcode({
					name:this.name,
					companyName:this.companyName,
					telephone:this.telephone,
					smsCode:this.smsCode,
					registerModule:this.leaveWordType,
				})
						.then(res => {
							if (res.code==200){
								window.alert('注册成功！');
								this.showmodel = false
							}else {
								window.alert('验证码错误！');
							}
						})
						.catch(err => {
							console.log(err,'_getcode获取数据异常');
						})
			},
		},
		computed:{},
	})
</script>
<script src="https://xgw.51qqt.com/qqt/js/navigation.js"></script>